// Advanced
.row {
  display: flex;
  justify-content: space-evenly;

  .bold-p {
    margin-bottom: .7rem;
  }
}

.bullet {
  position: relative;
  padding-left: 4rem;
  max-width: 370px;

  i {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.column-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-reverse {
  flex-direction: row-reverse;
}