// Fonts
@import url("https://use.typekit.net/pwx7paj.css");

// Root styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

// Colors
:root {
  --black: #2c363f;
  --green: #c5efcb;
  --purple: #b161f7;
}

// Typography
html {
  font-size: 18px;
  font-family: muli, sans-serif;
  line-height: 1.3;
  color: var(--black);
}

h1,
h2 {
  font-family: gastromond, sans-serif;
}

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 2.1em;
}

p {
  opacity: 0.8;
}

.sub-heading {
  text-transform: uppercase;
  opacity: 1;
}

.bold-p {
  font-weight: 700;
}

.light-text {
  color: #fff;
}

// Text-alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.purple-heading {
  color: var(--purple);
}

// UI elements
.btn {
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 18px;
  transition: all 0.8s;
}

.btn-primary {
  color: #fff;
  background-color: var(--green);
}

.btn-secondary {
  color: #fff;
  background-color: var(--purple);
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
}

.btn-secondary-green {
  color: var(--green);
  border: 2px solid var(--green);
  background-color: transparent;
  font-size: 1em;
  font-weight: 400;
}

.btn-secondary-purple {
  color: var(--purple);
  border: 2px solid var(--purple);
  background-color: transparent;
  font-size: 1em;
  font-weight: 400;
}

.btn-secondary-green:hover {
  color: #fff;
  background-color: var(--green);
}

.btn-secondary-purple:hover {
  color: #fff;
  background-color: var(--purple);
}

// Containers
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 2%;
}

.empty-space {
  height: 300px;
}

.element-center {
  margin: auto;
}

// Images
img {
  height: 100%;
  width: auto;
}

.dark-background {
  background-color: var(--black);
}