header {
  height: 100vh;

  a {
    color: var(--black);
  }
}


.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
}

.nav-links {
  display: flex;

  li {
    margin-left: 5rem;
  }

}

// Hero
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80%;

  .hero-image {
    height: 70%;
    width: auto;
    text-align: right;
  }

  .avocado {
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
  }

  .shadow {
    transform: scale(1);
    animation: shadowSize 2s ease-in-out infinite;
  }

  .hero-image::after {
    content: '';
    position: absolute;
    background-color: transparent;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 2px 20px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, .4);
  }
}

// Image float
@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(0px);
  }
}

//Image size
@keyframes shadowSize {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.hero-article {
  max-width: 500px;

  p {
    padding: 1rem 0 4rem;
  }
}

// Extra
.fa-leaf {
  animation: pulse 2s infinite;
  border-radius: 50%;
  color: var(--green);
  margin-right: .5rem;
}

// Extra - Pulsing animation
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(179, 233, 199, .7);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(179, 233, 199, 0);
  }
}